@import url(./header.css);

h4 {
    color: var(--cor-texto-2);
    padding: 0 20px 15px;
    text-align: center;
    margin-bottom: 5px;
    margin-top: -5px;
    border-bottom: 2px solid var(--cor-texto-2);
}

body {
    background-color: var(--cor-fundo);
}

form {
    background-color: var(--branco);
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 25px;
    border: 4px solid var(--cor-texto-2);
}

fieldset {
    padding: 15px;
    color: var(--cor-texto);
    border: 1px solid;
    position: relative;
    border-radius: 5px;
    margin: 5px 0;
    max-width: 100%;
    min-width: 80%;
}

legend {
    font-size: 20px;
    font-weight: bold;
}

.decoracao {
    position: absolute;
    width: 20%;
    border-radius: 50%;
    right: 0;
    top: 0;
    margin: 0 15px;
    max-width: 125px;
}

input, 
select {
    margin-bottom: 10px;
    border: none;
    border-bottom: 3px solid var(--cor-texto);
    border-radius: 5px;
    background-color: var(--marrom-claro);
    color: var(--cor-fundo);
    padding: 2px 10px;
    transition: background-color 0.3s ease-in;
}

input:hover,
select:hover {
    background-color: var(--cor-texto);
    color: var(--branco);
}

input::placeholder {
    color: var(--cor-fundo-2);
}

#txt_nome,
#txt_compl {
    width: 30%;
}

#txt_idade,
#txt_number {
    width: 60px;
}

#txt_cidade,
#txt_rua,
#txt_telefone,
#txt_estado {
    width: 150px;
}

#txt_estado,
#txt_rua {
    margin-right: 10px;
}

button {
    display: block;
    margin: 0 auto;
    font-size: larger;
    padding: 10px;
    border-radius: 25px;
    border: 3px solid var(--cor-texto);
    background-color: var(--cor-fundo-2);
    color: var(--cor-texto);
    font-weight: bold;
}

button:hover {
    background-color: var(--cor-texto);
    color: var(--cor-fundo-2);
}

.rodape {
    color: var(--cor-texto);
    font-style: italic;
    margin-top: 30px;
    margin-bottom: 10px;
}

@media (max-width: 600px) {
    .decoracao {
        width: 15%;
    }
}