@import url(./header.css);

body {
    background-color: var(--cor-fundo);
}

form {
    background-color: var(--branco);
    width: 70%;
    margin: 0 auto;
    margin-top: 10px;
    padding: 20px;
    border-radius: 25px;
    border: 4px solid var(--cor-texto-2);
}

fieldset {
    padding: 15px;
    color: var(--cor-texto);
    border: 1px solid;
    position: relative;
    border-radius: 5px;
    margin: 5px 0;
    max-width: 100%;
    min-width: 80%;
}

legend {
    font-size: 20px;
    font-weight: bold;
}

.decoracao {
    position: absolute;
    width: 20%;
    border-radius: 50%;
    right: 0;
    top: 0;
    margin: 0 15px;
    max-width: 125px;
}

input {
    margin-bottom: 10px;
    border: none;
    border-bottom: 3px solid var(--cor-texto);
    border-radius: 5px;
    background-color: var(--marrom-claro);
    color: var(--cor-fundo);
    padding: 2px 10px;
    transition: background-color 0.3s ease-in;
}

input:hover {
    background-color: var(--cor-texto);
    color: var(--branco);
}

#txt_nome {
    width: 40%;
}

#txt_idade {
    width: 60px;
}

.estrelas {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: -10px;
}

/*Olhar com mais calma para estilizar tudo bonitinho*/
#rng_star {
    width: 60%;
    height: 8px;
    -webkit-appearance: none;
    border: none;
    background: transparent;
    margin-bottom: 18px;
}
#rng_star::-webkit-slider-runnable-track {
  background: var(--cor-texto-2);
  height: 8px;
  border-radius: 5px;
}
#rng_star::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: var(--cor-fundo);
  border: 2px solid var(--cor-texto);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: -6px;
}
/*-------------------------------------*/

textarea {
    border: 2px solid var(--cor-texto-2);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    padding: 5px;
    margin-top: 5px;
    width: 100%;
    height: 70px;
}

textarea::placeholder {
    color: var(--cor-texto-2);
}

.botoes {
    text-align: center;
    margin: 10px;
}

button {
    margin: 0 5px;
    font-size: large;
    padding: 10px;
    border-radius: 25px;
    border: 3px solid var(--cor-texto);
    background-color: var(--cor-fundo-2);
    color: var(--cor-texto);
    font-weight: bold;
    width: 50%;
}

button:hover {
    background-color: var(--cor-texto);
    color: var(--cor-fundo-2);
}

.rodape {
    color: var(--cor-texto);
    font-style: italic;
    margin: 30px 0 15px 10px;
}

@media (max-width: 600px) {
    #rng_star,
    .estrelas {
        width: 90%;
    }
}